[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qase-robotframework = "*"
robotframework-browser = "*"
robotframework-browser-batteries = "*"
robotframework-pabot = "*"
robotframework-randomlibrary = "*"
robotframework-tidy = "*"


[dev-packages]

[requires]
python_version = "3.13"
